body {
    text-align: center;
    font-family: 'Shadows Into Light', cursive;
}

h1 {
    font-size: 50px;
    margin-bottom: 0px;
}

.btn {
    color: black;
    background-color: white;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-size: 20px;
    padding: 10px 20px;
    font-family: 'Shadows Into Light', cursive;
    border-color: black;
    transition-duration: 0.4s;
}

.btn span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.1s;
}

.btn-prev span:after {
    content: '\00ab';
    position: absolute;
    opacity: 0;
    top: 0;
    left: -40px;
    transition: 0.1s;
}

.btn-next span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: 20px;
    transition: 0.1s;
}

.btn-prev:hover span {
    padding-left: 25px;
}

.btn-next:hover span {
    padding-right: 25px;
}

.btn:hover span:after {
    opacity: 1;
    right: 0;
}

.btn:hover {
    background-color: black;
    color: white;
}

.strip {
    padding: 50px;
}

#transcript{
    display: none;
    font-family: 'Times New Roman', Times, serif;
    
}

.btn-t{
    margin: 10px;
}

.btn-search{
    margin: 10px;
}

.input{
    margin: 10px;
    font-family: 'Shadows Into Light', cursive;
    border-color: black;
    text-align: center;
    font-size: 25px;
    
}

img{
    width: 50%;
}